@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Inconsolata', consolas, courier;

	margin: 0;
	color: white;

	background: linear-gradient(0deg, hsla(280, 38%, 49%, 1) 0%, hsla(260, 53%, 41%, 1) 100%);
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
}

footer {
	height: 20vh;
	background: #010A0D;

	padding-top: 5vh;
	text-align: center;

	font-size: 0.9em;
}

.social-media-icons {
	display: flex; 
	gap: 1rem; 
	justify-content: center; 
}

footer > .social-media-icons {
	margin-bottom: 1.5rem;
}

/* Navigation bar */

.navbar {
	width: 100%;

	display: flex;
	justify-content: space-between;

	background: #cd90b9;

	padding-top: 7px;
	padding-bottom: 7px;

	color: black;

	flex-wrap: wrap;
}

.navbar p {
	margin-right: 20px;
}

.right-nav-buttons, .left-nav-buttons {
	display: flex;
	gap: 10px;
}


@media (max-width: 767px) {
	.navbar p {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	.navbar p {
		margin-left: 15px;
		margin-right: 15px;
		font-size: 1.2rem;
	}
}
/* Parallax background */

.parallax {
	position: relative;
	height: 120vh;

	overflow: hidden;
	image-rendering: pixelated;
}

.parallax > img {
	position: absolute;

	top: 0vh;

	width: 100%;
	height: 100%;

	user-select: none;
	-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;

	object-fit: cover;
}

/* Body containers */

.outer-container {
	top: 120vh;
	width: 100%;
	background: #02151C;
	padding-bottom: 10vh;
}

/* Window */

.window {
	border: 5px solid #885eb5;
}

.window-title {
	background: #885eb5;
	display: flex;
}

.buttons-div {
	display: flex;
	gap: 0.6rem;
	margin-left: auto;
}

.menubar {
	display: flex;
	gap: 0.6rem;
	background: ;
	background: #6c508a;
}

.window-content {

}

/* Reveal effect */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Home page */

#bio-window {
	position: absolute;
	top: 20%;

	margin: 0 auto;
	left: 0;
	right: 0;

	z-index: 5;

	box-shadow: 4px 4px black;

	font-size: 0.9rem;
}

@media (max-width: 767px) {
	#bio-window {
		width: 90vw;
	}

	#bio-window {
		width: 90vw;
	}
}

@media (min-width: 768px) {
	#bio-window {
		width: 30vw;
	}
	#short-bio {
		margin-top: 1rem
	}
}

#bio-window > .window-content {
	background: black;

	display: flex; 
	gap: 1rem; 

	padding: 1rem

	/*flex-wrap: wrap;*/
}

.file-data {
	border: 1px solid gray; 

	width: 100%; 

	padding: 2px; 
	margin-bottom: 0.5rem;
}

#inner-flex-container {
	display: flex; 
	gap: 1rem;
	justify-content: center;

	padding-top: 10vh;
	margin: auto; 

	flex-wrap: wrap;
}

@media (max-width: 767px) {
	#inner-flex-container {
		width: 90%;
	}

	#inner-flex-container > div {
		flex: 0 1 100%;
		width: 100vw;
	}
}

@media (min-width: 768px) {
	#inner-flex-container {
		width: 80%;
	}

	#inner-flex-container > div {
		flex: 0 1 45%;
		width: 45%;
	}
}

#project-previews {
	height: 52vh; 

	padding: 1rem; 

	overflow-y: scroll; 
	scrollbar-width: thin; 
	scrollbar-color: white #02151C;
}

#introduction-content {
	display: flex; 
	gap: 1rem; 

	padding: 1rem;

	box-sizing: border-box;

	flex-wrap: wrap;
}

@media (max-width: 767px) {
	#introduction-content p, #introduction-content div{
		flex: 0 1 100%;
	}
}

@media (min-width: 768px) {
	#introduction-content p {
		flex: 1 1 65%;
	}

	#introduction-content div {
		flex: 0 1 30%;
	}
}

.project-description {
	border-bottom: 2px solid white;
	padding-bottom: 1rem;
	margin-bottom: 1rem;

	display: flex; 
	gap: 1em; 
	justify-content: center;

	flex-direction: row;
}

@media (max-width: 767px) {
	.project-description {
		flex-direction: column;
	}

	.project-description img{
		width: 100%;
	}
}

@media (min-width: 768px) {
	.project-description img{
		width: 40%;
		height: auto;
	}
}
