@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Inconsolata', consolas, courier;

	margin: 0;
	color: white;

	background-color: black;
}

* {
	scrollbar-width: thin; 
	scrollbar-color: gray #02151C;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
}

hr {
	margin-top: 1em; 
	margin-bottom: 1em; 
	border: none;
	height: 1px;
	background-color: gray;
}

input, textarea, select, button {
	font-family: 'Inconsolata', consolas, courier;
	border: 1px solid #211e24; 
	border-radius: 5px;
	background: black; 
	color: white;
	margin-bottom: 0.5rem;
	color-scheme: dark;
}

option {
  background-color: black; 
  color: white;              
}

textarea {
	resize: none; 
	box-sizing: border-box; 
	width: 100%; 
}

button {
	border: 0;
	border-radius: 5px;
}     

button, input[type='button'], input[type='submit'], select {
	cursor: pointer;
}        

ol, ul {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.inherit-bg {
	background: inherit;
}

::-moz-selection {
  color: black; 
  background-color: #cd90b9; 
}

::selection {
  color: black; 
  background-color: #cd90b9; 
}

.text-accent-color {
	color: #cd90b9;
}

.text-accent-color-underline {
	text-decoration: underline;
	text-decoration-color: #cd90b9;
}

.text-accent-color-first-letter-underline::first-letter {
	text-decoration: underline;
	text-decoration-color: #cd90b9;
}

.mood-profile {
	text-align: center;
}

.mood-profile img {
	width: 45%; 
	image-rendering: pixelated; 
	border-radius: 5px;
}

.mood-profile .mood-details {
	text-align: justify; 
	font-size: 0.90rem; 
	margin-top: 0.5rem;
}

.message-display {
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	text-align: center;
	font-size: 0.9rem;
}

.mood-profile .mood-details {
	margin: 0.5rem 0 0.5rem 0; 
	text-align: center;
}

.blend-in-button {
	background: inherit; 
	color: white
}

.sticky {
	position: sticky; 
	top: 1rem
}

.big-text {
	font-size: 1.4rem;
}

.small-text {
	font-size: 0.9rem;
}

#pagination-section > div {
	display: flex; 
	gap: 1rem; 
	justify-content: center;
}

#pagination-section .inactive-nav {
	opacity: 0.5;
}

.enlarge-on-hover {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.enlarge-on-hover:hover {
	transform: scale(1.03);
	box-shadow: 0 3px 5px black;
}

.no-decor-link {
	text-decoration: none;
	color: white;
}

.no-decor-link-container a {
	text-decoration: none;
	color: white;
}
