@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Inconsolata', consolas, courier;

	margin: 0;
	color: white;

	background-color: black;
}

* {
	scrollbar-width: thin; 
	scrollbar-color: gray #02151C;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
}

hr {
	margin-top: 1em; 
	margin-bottom: 1em; 
	border: none;
	height: 1px;
	background-color: gray;
}

input, textarea, select, button {
	font-family: 'Inconsolata', consolas, courier;
	border: 1px solid #211e24; 
	border-radius: 5px;
	background: black; 
	color: white;
	margin-bottom: 0.5rem;
	color-scheme: dark;
}

option {
  background-color: black; 
  color: white;              
}

textarea {
	resize: none; 
	box-sizing: border-box; 
	width: 100%; 
}

button {
	border: 0;
	border-radius: 5px;
}     

button, input[type='button'], input[type='submit'], select {
	cursor: pointer;
}        

ol, ul {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

::-moz-selection {
  color: black; 
  background-color: #cd90b9; 
}

::selection {
  color: black; 
  background-color: #cd90b9; 
}




