#bio-window {
	position: absolute;
	top: 20%;

	margin: 0 auto;
	left: 0;
	right: 0;

	z-index: 5;

	box-shadow: 0px 4px 10px black;

	font-size: 0.9rem;

	transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (max-width: 767px) {
	#bio-window {
		width: 90vw;
	}
}


@media (min-width: 768px) and (max-width: 1080px){
	#bio-window {
		width: 60vw;
	}
}

@media (min-width: 1081px) {
	#bio-window {
		width: 30vw;
	}
}

#bio-window > .window-content {
	background: black;

	display: flex; 
	gap: 1rem; 

	padding: 1rem
}

.file-data {
	border: 1px solid gray; 

	width: 100%; 

	padding: 2px; 
	margin-bottom: 0.5rem;
}

/* PROJECT CARDS */

.projects-container {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	text-align: justify;
	width: 100%;
}

.project-card img {
	width: 100%;
	margin-bottom: 1rem;
}

/* MISC */

.mood-profile-img {
	border-radius: 5px;
	image-rendering: pixelated; 
	height: 100%;
}