/* CONTAINERS */

.outer-container {
	top: 120vh;
	width: 100%;
	background: #02151C;
	padding-bottom: 10vh;
	min-height: 60vh;
}

.inner-container {
	padding-top: 2em; 

	width: 85%;
	margin: auto;
}

.small-inner-container {
	padding-top: 2em; 

	width: 75%;
	margin: auto;
	max-width: 1000px;

}

@media (max-width: 767px) {
	.small-inner-container {
		width: 85%;
	}
}


@media (min-width: 768px) and (max-width: 1080px){
	.inner-container, .small-inner-container {
		width: 95%;
	}
}



