.outer-container {
	top: 120vh;
	width: 100%;
	background: #02151C;
	padding-bottom: 10vh;
	min-height: 60vh;
}

.inner-container {
	padding-top: 2em; 

	width: 85%;
	margin: auto;
}

.small-inner-container {
	padding-top: 2em; 

	width: 75%;
	margin: auto;
}

@media (min-width: 768px) and (max-width: 1080px){
	.inner-container, .small-inner-container {
		width: 95%;
	}
}

.responsive-flex-reverse, .responsive-flex, .responsive-flex-no-width-fill {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.responsive-flex-reverse > *, .responsive-flex > * {
	width: 100%;
	min-width: 0;
}

@media (max-width: 767px) {
	.responsive-flex-reverse {
		flex-direction: column-reverse;
		align-items: center;
	}

	.responsive-flex, .responsive-flex-no-width-fill {
		flex-direction: column;
		align-items: center;
	}
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
}

.flex-gap-1 {
	gap: 1rem;
}
.flex-gap-2 {
	gap: 1rem;
}
.flex-gap-3 {
	gap: 1rem;
}
.flex-gap-4 {
	gap: 1rem;
}
.flex-gap-5 {
	gap: 1rem;
}

.align-items-center {
	align-items: center;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-fill {
	flex: 1;
}

.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.margin-top-1 {
	margin-top: 1rem;
}
.margin-top-2 {
	margin-top: 2rem;
}
.margin-top-3 {
	margin-top: 3rem;
}
.margin-top-4 {
	margin-top: 4rem;
}
.margin-top-5 {
	margin-top: 5rem;
}

.margin-bottom-1 {
	margin-bottom: 1rem;
}
.margin-bottom-2 {
	margin-bottom: 2rem;
}
.margin-bottom-3 {
	margin-bottom: 3rem;
}
.margin-bottom-4 {
	margin-bottom: 4rem;
}
.margin-bottom-5 {
	margin-bottom: 5rem;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

@media (max-width: 767px) {
	.mobile-omit {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1080px){
	.tablet-omit {
		display: none;
	}
}


@media (min-width: 1081px) {
	.desktop-omit {
		display: none;
	}
}
